html,
body,
.container-fluid {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.text-center {
  text-align: center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.nav-link {
  color: black !important;
}

#topSection {
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: white;
}

.mainHeader {
  font-weight: 700;
  font-size: 3.5em;
}

.secondHeader {
  font-size: 2.5em;
}

#topSection img {
  position: absolute;
  width: 100vw;
  bottom: -1px;
  left: 0;
  z-index: 4;
}

#projectsSection {
  width: 100vw;
  position: relative;
  background-color: #0099ff;
}

#projectsSection .container {
  background-color: #0099ff !important;
}

#projectsSection .mainHeader {
  color: white;
}

.projectContainer {
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 5px 10px 20px black;
  overflow: hidden;
}

.projectContainer .textContainer {
  position: relative;
  height: 100%;
}

.projectContainer img {
  width: 100%;
  height: 100%;
}

.moreProjectsHeader {
  color: white;
}

.moreProjectsHeader a {
  color: white;
  text-decoration: underline;
}

#aboutSection {
  background-color: #0099ff;
  width: 100vw;
}

.aboutHeader {
  color: white;
}

#aboutSection .infoBox {
  height: 40vh;
  background-color: white;
  border: 1px solid white;
  box-shadow: 5px 10px 20px black;
  padding: 0;
}

#aboutSection .spacer {
  height: 10vh;
  width: 100vw;
}

#aboutSection .infoBox img {
  height: 40vh;
}

#aboutSection .aboutMeText {
  font-size: 1.2em;
}

.achievements {
  list-style: none;
}

.technologies {
  list-style: none;
  height: 100%;
}

.technologies li {
  font-size: 1.2em;
}

.transitionToSand {
  width: 100vw;
}

#contactSection {
  background-color: #fbb995;
  width: 100vw;
}

#contactSection .mainHeader {
  color: white;
}

#contactSection .secondHeader {
  color: white;
}

.contactInfoBox {
  color: white;
  font-size: 1.5em;
}

@media (min-width: 768px) {
  .projectContainer .textContainer {
    height: 100% !important;
  }

  .projectContainer .exporeBtn {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #aboutSection .infoBox img {
    float: right;
  }

  #aboutSection .aboutMeText {
    font-size: 1.5em;
  }
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100px;
    padding: 0;
  }

  .navbar-nav {
    width: 100%;
    height: 100px;
  }

  .nav-item {
    height: 100%;
    font-size: 1.8em;
    font-weight: 700;
  }

  .nav-item:hover a {
    color: #0099ff !important;
    transition: all 0.2s ease-in-out;
  }
}
